body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

#menu {
  float: left;
  display: inline-block;
  width: 30%;
  border: 1px dashed;
}

#tool {
  float: right;
  display: inline-block;
  width: 68%;
  border: 1px dotted;
}

#report {
  margin: 10px;
  background-color: burlywood;
}

#editor {
  margin: 10px;
}

#detail-editor {
  margin: 15px;
}

#report-table {
  margin: 20px 20px;
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  display: inline-block;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}

textarea {
  width: 100%;
}

button {
  margin: 8px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}
